<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{46} - %msg%n</pattern>
        </encoder>
    </appender>
 
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/k2_java_agent.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{46} - %msg%n</pattern>
        </encoder>
    </appender>
     
    <logger name="com.k2cybersecurity.intcodeagent" level="INFO" additivity="false"> 
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" /> 
    </logger> 
 
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>