name: Publishes artifacts to Maven repos
on:
  workflow_dispatch:
    inputs:
      apm-repo:
        description: 'The repo of APM source code to use'
        required: true
        default: 'newrelic/newrelic-java-agent'
      apm-source-ref:
        description: 'The source-ref of APM source code to use'
        required: true
        default: 'k2-integration'
      csec-run-unittest:
        description: 'Whether to run CSEC instrumentation unit tests'
        required: true
        default: true
      csec-run-instrumentation-verify:
        description: 'Whether to run CSEC instrumentation verifier'
        required: true
        default: true
      slack-notify:
        description: 'Whether to notify build status on slack'
        required: true
        default: false
      is-release:
        description: 'Is this a release run'
        required: true
        default: 'false'
      version-suffix:
        description: 'version suffix to be added, if any'
        default: ''

  workflow_call:
    inputs:
      apm-repo:
        description: 'The repo of APM source code to use'
        required: true
        type: string
        default: 'newrelic/newrelic-java-agent'
      apm-source-ref:
        description: 'The source-ref of APM source code to use'
        required: true
        type: string
        default: 'k2-integration'
      csec-run-unittest:
        description: 'Whether to run CSEC instrumentation unit tests'
        required: true
        type: string
        default: true
      csec-run-instrumentation-verify:
        description: 'Whether to run CSEC instrumentation verifier'
        required: true
        type: string
        default: true
      is-release:
        description: 'Is this a release run'
        required: true
        type: string
        default: false
      version-suffix:
        description: 'version suffix to be added, if any'
        default: ''
        type: string
      slack-notify:
        description: 'Whether to notify build status on slack'
        required: true
        type: string
        default: false

jobs:
  unit-test:
    name: Run Unit Test
    if: ${{ inputs.csec-run-unittest == 'true' }}
    uses: ./.github/workflows/X-Reusable-Build-Security-Agent.yml
    with:
      apm-repo: ${{ inputs.apm-repo }}
      apm-source-ref: ${{ inputs.apm-source-ref }}
      run-unit-test: ${{ inputs.csec-run-unittest }}
      is-release: ${{ inputs.is-release }}
      version-suffix: ${{ inputs.version-suffix }}
    secrets: inherit

  verify-instrumentation:
    name: Verify CSEC instrumentation
    if: ${{ inputs.csec-run-instrumentation-verify == 'true' }}
    uses: ./.github/workflows/verify-instrumentation.yml
    secrets: inherit

  publish-to-maven-central:
    name: Publish to Maven Central
    if: ${{ always() }}
    needs: [verify-instrumentation, unit-test]
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout APM agent
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}

      - name: Setup environment
        uses: ./.github/actions/setup-environment
        with:
          apm-repo: ${{ inputs.apm-repo }}
          apm-branch: ${{ inputs.apm-source-ref }}
          apm-aws-access-key-id: ${{ secrets.APM_AWS_ACCESS_KEY_ID }}
          apm-aws-secret-access-key: ${{ secrets.APM_AWS_SECRET_ACCESS_KEY }}
          apm-aws-region: us-east-2
          is-release: ${{ inputs.is-release }}
          version-suffix: ${{ inputs.version-suffix }}

      - name: Check version compatibility
        shell: bash
        run: |
          APM_CONFIGURED_CSEC_VERSION=$(./gradlew ${GRADLE_OPTIONS} -p newrelic-java-agent/ properties | grep 'csecCollectorVersion:' | awk -F': ' '{print $2}')
          CSEC_CONFIGURED_APM_VERSION=$(./gradlew ${GRADLE_OPTIONS} properties | grep 'nrAPIVersion:' | awk -F': ' '{print $2}')

          if [[ "${APM_VERSION}" != "${CSEC_CONFIGURED_APM_VERSION}" ]]
          then
            printf "${RED}Version mismatch regarding APM: ${NONE}\n"
            printf "${RED}Version of APM to build: ${APM_VERSION} ${NONE}\n"
            printf "${RED}Version of APM API used by CSEC: ${CSEC_CONFIGURED_APM_VERSION} ${NONE}\n"
            exit 1
          fi

          if [[ "${SECURITY_VERSION}" != "${APM_CONFIGURED_CSEC_VERSION}" ]]
          then
            printf "${RED}Version mismatch regarding Security: ${NONE}\n"
            printf "${RED}Version of CSEC to build: ${SECURITY_VERSION} ${NONE}\n"
            printf "${RED}Version of CSEC API used by APM: ${APM_CONFIGURED_CSEC_VERSION} ${NONE}\n"
            exit 2
          fi

      - name: Publish CSEC to central
        uses: ./.github/actions/publish-csec
        with:
          sonatype-username: ${{ secrets.SONATYPE_USERNAME }}
          sonatype-password: ${{ secrets.SONATYPE_PASSWORD }}
          pgp-signing-key: ${{ secrets.SIGNING_KEY }}
          pgp-signing-key-id: ${{ secrets.SIGNING_KEY_ID }}
          pgp-signing-key-password: ${{ secrets.SIGNING_KEY_PASSWORD }}

      - name: Set summary
        run: |
          echo "Artifacts from the ref ${{ github.ref }} uploaded to maven. Release type : ${{ inputs.is-release == 'true' && 'Staging' || 'Snapshot' }} " >> $GITHUB_STEP_SUMMARY

      - name: Send slack notification
        uses: slackapi/slack-github-action@v1.23.0
        if: ${{ inputs.slack-notify == 'true' }}
        with:
          payload: |
            { 
              "task": "Publishing to Maven",
              "job-ref": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}",
              "build-number": "${{ github.run_id }}-${{ github.run_number }}",
              "apm-full-ref": "${{ github.server_url }}/${{ inputs.apm-repo }}/tree/${{ inputs.apm-source-ref }}",
              "apm-source-ref": "${{ inputs.apm-source-ref }}",
              "apm-version": "${{ env.APM_VERSION }}",
              "security-full-ref": "${{ github.server_url }}/${{ github.repository }}/tree/${{ github.ref }}",
              "security-source-ref": "${{ github.ref }}",
              "security-version": "${{ env.SECURITY_VERSION }}",
              "security-json-version": "${{ env.SECURITY_JSON_VERSION }}",
              "changelog-url": "${{ github.server_url }}/${{ github.repository }}/blob/${{ github.ref }}/Changelog.md",
              "custom-message": "Trigger from ref ${{ github.ref }}. Release type : ${{ inputs.is-release == 'true' && 'Staging' || 'Snapshot' }}",
              "artifact-download-link": "N/A"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
