name: CSEC Instrumentation verification

on:
  workflow_dispatch:
    inputs: null
  workflow_call:
    inputs: null
  schedule:
    - cron: '0 0 * * *'

jobs:
  # GHA Matrix strategy only allows 255 entries.
  # So 2 pages should be good until we have around 500 instrumentation modules
  # When we grow to more than that, we'll need to create a third job here and have pages 1/3, 2/3 and 3/3
  # Also, this new job must be listed in the `needs` for notify-failure

  verify-instrumentation:
    name: Instrumentation verifier trigger
    uses: ./.github/workflows/X-Reusable-VerifyInstrumentation.yml
    with:
      page: 1/1
      ref: ${{ github.ref || 'main' }}
    secrets: inherit

  notify-failure:
    needs: [verify-instrumentation]
    if: ${{ failure() }}
    runs-on: ubuntu-20.04
    steps:
      - name: Send failure message to Slack
        id: slack
        uses: slackapi/slack-github-action@v1.23.0
        with:
          payload: |
            {
              "url": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL_INST_VERIFIER }}