name: X - Reusable Build Security Agent
on:
  workflow_call:
    inputs:
      apm-repo:
        description: 'The repo of APM source code to use'
        required: true
        type: string
        default: 'k2io/newrelic-java-agent'
      apm-source-ref:
        description: 'The source-ref of APM source code to use'
        required: true
        type: string
        default: 'csec-dev'
      run-unit-test:
        description: 'Run instrumentation unit tests ?'
        required: true
        type: string
        default: 'true'
      is-release:
        description: 'Is this a release run'
        required: true
        type: string
        default: 'false'
      version-suffix:
        description: 'version suffix to be added, if any'
        default: ''
        type: string
      csec-run-scala-unittest:
        description: 'Whether to run CSEC scala instrumentation unit tests'
        required: true
        default: false
        type: boolean
      unit-test-java-version:
        description: 'Run Unit test on java version, default java versions are [ 8, 11, 17, 21, 23 ] '
        required: false
        default: '[ 8, 11, 17, 21, 23 ]'
        type: string

  workflow_dispatch:
    inputs:
      apm-repo:
        description: 'The repo of APM source code to use'
        required: true
        type: string
        default: 'k2io/newrelic-java-agent'
      apm-source-ref:
        description: 'The source-ref of APM source code to use'
        required: true
        type: string
        default: 'csec-dev'
      run-unit-test:
        description: 'Run instrumentation unit tests ?'
        required: true
        type: string
        default: 'true'
      is-release:
        description: 'Is this a release run'
        required: true
        type: string
        default: 'false'
      version-suffix:
        description: 'version suffix to be added, if any'
        default: ''
        type: string
      csec-run-scala-unittest:
        description: 'Whether to run CSEC scala instrumentation unit tests'
        required: true
        default: false
        type: boolean
      unit-test-java-version:
        description: 'Run Unit test on java version, default java versions are [ 8, 11, 17, 21, 23 ] '
        required: false
        default: [ 8, 11, 17, 21, 23 ]

jobs:
  # this job reads the directories in csec-java-agent/instrumentation-security and creates a JSON with the list of the modules
  # this list is paginated and will be used in the verify-module job.
  build-agent:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        java-version: [ 8 ]
#        java-version: [ 8, 11, 17 ]

    steps:
      - name: Checkout CSEC Repo
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}

      - name: Setup environment
        uses: ./.github/actions/setup-environment
        with:
          apm-repo: ${{ inputs.apm-repo }}
          apm-branch: ${{ inputs.apm-source-ref }}
          apm-aws-access-key-id: ${{ secrets.APM_AWS_ACCESS_KEY_ID }}
          apm-aws-secret-access-key: ${{ secrets.APM_AWS_SECRET_ACCESS_KEY }}
          apm-aws-region: us-east-2

      - name: Publish CSEC to local
        uses: ./.github/actions/publish-csec-local

      - name: Run CSEC unit tests
        if: ${{ inputs.run-unit-test == 'true' }}
        uses: ./.github/workflows/GHA-Unit-Tests.yml
        with:
          unit-test-java-version: ${{ inputs.unit-test-java-version }}
          csec-run-scala-unittest: ${{ inputs.csec-run-scala-unittest }}